body {
    background-color: cadetblue;
}

h1 {
    font-size: 400%;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

p {
    font-size: 200%;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-size: 300%;
    color: rgb(216, 255, 116);
    font-family: sans-serif;
    text-align: center;
}